body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: regular;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

h1 {
    color: rgba(255, 255, 255, 1);
    /* background-color: rgba(46, 47, 66, 1); */
    font-size: 56px;
    line-height: 1.07;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    color: rgba(46, 47, 66, 1);
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(67, 68, 85, 1);
    font-weight: regular;
    letter-spacing: 0.02em;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo:hover {
    color: rgba(64, 75, 191, 1);
}

.logo:focus {
    color: rgba(64, 75, 191, 1);
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.header-link {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404bbf;
    padding: 24px 0;
    transition: color 0.3s;
    position: relative; 
}

.header-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px; 
    background-color: rgb(64, 75, 191); 
    transition: width 0.3s;
    border-radius: 2px;
}

.header-link:hover::after,
.header-link:focus::after {
    width: 100%; 
}

.header-link:hover,
.header-link:focus {
    color: #4d5ae5; 
}

.contacts {
    display: flex;
    gap: 40px;
}

a, span {
    color: #2e2f42;
}

.header-link {
    color: rgba(67, 68, 85, 1);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-link:hover {
    color: rgba(64, 75, 191, 1);

}

.header-link:focus {
    color: #404bbf;
}

.contact-link {
    color: #434455;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-link:hover {
    color: rgba(64, 75, 191, 1);
}

.contact-link:focus {
    color: #404bbf;
}

.business-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url("../images/people-office.jpg");
    background-size: cover;
    background-color: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.business-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.business-text {
    max-width: 496px;
}

.order-button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(77, 90, 229, 1);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    display: block;
    border: none;
    width: 169px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 4%;
    min-width: 169px;
    margin-top: 48px;
}

.order-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(64, 75, 191, 1);
}

.order-button:focus {
    background-color: #404BBF;
}

.values-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.values-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-container {
    width: 264px;
    height: 112px;
    box-sizing: border-box;
    border: 1px solid rgb(142, 143, 153);
    border-radius: 4px;
    background: rgb(244, 244, 253);
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.values-icon {
    width: 64px;
    height: 64px;
    position: relative; 
}

.values-list {
    display: flex;
    gap: 24px;
}

.values-item {
    width: calc((100% - 72px) / 4);
}

.values-item {
   align-items: center;
}

.values-subtitle {
    color: rgb(46, 47, 66);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
    margin-bottom: 8px;
}

.text {
    color: rgb(67, 68, 85);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}

.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-container {
}

.team-subtitle {
    color: rgb(46, 47, 66);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.member-card {
    padding: 32px 0;
}

.team-member {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    background: rgb(255, 255, 255);
    width: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32;
    width: calc((100% - 72px) / 4);
}

.team-image {
}

.team-name {
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
}

.social-icons {
    position: static;
    width: 232px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24;
    padding-top: 15px;
}

.social-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.social-item {
    background: rgb(77, 90, 229);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-social { 
    width: 16px;
    height: 16px;
    fill: rgb(244, 244, 253);
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
    margin-bottom: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
    position: relative;
    box-sizing: border-box;
    width: calc((100% - 48px) / 3);
    overflow: hidden;
}

.overlay-container {
    position: relative;
    overflow: hidden;
}
.portfolio-item:hover .overlay {
    transform: translatey(0);
}

.portfolio-image {
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
    
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.overlay-text {
    color: rgba(244, 244, 253, 1);
    position: absolute;
    width: 296px;
    height: 96px;
    left: 32px;
    top: 40px;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
   
}

.footer-logo {
    color: #4d5ae5;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo:focus {
    color: rgba(64, 75, 191, 1);
}

.footer-text {
    color: #F4F4FD;
    width: 264px;
}

.social-container {
    margin-left: 400px;
    margin-top: -110px;
}

.social-container p{
    color: #F4F4FD;
}

.footer-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 30px;
    
    
}

.footer-item {
background: rgb(77, 90, 229);
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
   align-items: center;
}

.footer-icon {
    width: 24px;
    height: 24px;
   fill: rgb(244, 244, 253);
  
}

.info {
    font-style: normal;
}

.studio-span {
    color: #f4f4fd;
}